<phpunit 
		stopOnError="false"
		stopOnFailure="false"
		stopOnIncomplete="false"
		stopOnSkipped="false"
		stopOnRisky="false"
		bootstrap="tests/bootstrap.php"
	>
	
	<testsuites>
		<testsuite name="Testcases">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	
	<php>
        <env name="STEAM_API_KEY" value="test"/>
		<env name="STEAM_TEST_APP" value="1001860"/>
		<env name="STEAM_TEST_APP2" value="730"/>
		<env name="STEAM_PLAYER_ID" value="76561198876154375"/>
		<env name="STEAM_GAME_SERVER" value="127.0.0.1"/>
	</php>
</phpunit>